.Challenge-panes {
  flex: 1;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.Challenge-pane {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.Challenge-htmlPane {
  grid-area: top-left;
}

.Challenge-cssPane {
  grid-area: bottom-left;
}

.Challenge-outputPane {
  grid-area: top-right;
}

.Challenge-targetPane {
  grid-area: bottom-right;
}

.Challenge-paneHeader {
  padding: 8px 24px;
  z-index: 100;
  background-color: var(--color-background-secondary);
  color: var(--color-text);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.Challenge-paneContent {
  flex: 1;
  overflow: hidden;
}
