.Challenge {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top-editor output"
    "bottom-editor target";
}

.Challenge-topEditor {
  grid-area: top-editor;
  border: 1px solid black;
}

.Challenge-bottomEditor {
  grid-area: bottom-editor;
  border: 1px solid black;
}

.Challenge-output {
  grid-area: output;
  /* display: block; */
  border: 1px solid black;
}

.Challenge-target {
  grid-area: target;
  /* display: block; */
  border: 1px solid black;
}
