.ChallengeList {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: start;
  grid-gap: 24px;
  list-style: none;
  padding: 24px;
}

.ChallengeList-item {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-background-primary);
  overflow: hidden;
  transition: 0.15s ease;
  text-decoration: none;
  color: inherit;
}

.ChallengeList-item:hover {
  box-shadow: 0 0 0 4px var(--color-background-secondary),
    0 0 0 6px var(--color-highlight);
}

.ChallengeList-imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--color-background-primary);
}

.ChallengeList-image {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
}

.ChallengeList-description {
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.15s ease;
}

.ChallengeList-name {
  display: inline-block;
  margin-right: 8px;
}

.ChallengeList-difficulty {
  display: inline-block;
  border-radius: 8px;
  padding: 4px 8px;
}

.ChallengeList-difficulty--easy {
  background-color: green;
}

.ChallengeList-difficulty--medium {
  background-color: orange;
}

.ChallengeList-difficulty--hard {
  background-color: firebrick;
}
