.ChallengeList {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: start;
  grid-gap: 16px;
  list-style: none;
  padding: 16px;
}

.ChallengeList-item {
  display: block;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.15s ease;
  color: #756d6d;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.ChallengeList-item:visited {
  color: #756d6d;
}
.ChallengeList-item:hover {
  box-shadow: 0 0 0 4px pink;
}

.ChallengeList-imageContainer {
  width: 100%;
}

.ChallengeList-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.ChallengeList-description {
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.15s ease;
}

.ChallengeList-difficulty {
  display: inline-block;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: pink;
  color: white;
}

.ChallengeList-difficulty--easy {
  background-color: green;
}

.ChallengeList-difficulty--medium {
  background-color: gold;
}

.ChallengeList-difficulty--hard {
  background-color: firebrick;
}
