.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    header
    main;
}

.App-header {
  background-color: var(--color-background-primary);
  color: var(--color-text);
  padding: 16px;
  text-decoration: none;
}

.App-homeLink {
  color: var(--color-text);
  text-decoration: none;
  font-size: 2rem;
}
